#back-button {
    padding-left: 0px;
    padding-right: 12px;
    min-width: 28px;
  }

  .my-theme-two .mat-form-field {
    width: 100%;
  }

  .margin-left {
    margin-left: 4px;
  }

  .scroll {
    overflow-y: auto;
  }
