  <form name="information" (submit)="addData(firstName, lastName, email, phone)">
      <div class="padding">
        <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" required maxlength="20">
      <mat-error>This field is required</mat-error>
      </mat-form-field>
        <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required maxlength="20">
      <mat-error>This field is required</mat-error>
      </mat-form-field>
      </div>
      <div class="padding">
        <mat-form-field>
        <input matInput placeholder="Phone Number" [(ngModel)]="phone" name="phone" required maxlength="10" pattern="[0-9]+">
      <mat-error>This field is required</mat-error>
      </mat-form-field>
        <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email" required name="email">
      <mat-error>This field is required</mat-error>
      </mat-form-field></div>
    <div class="padding">
    <mat-form-field>
      <input matInput placeholder="Address">
    </mat-form-field>
    </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Address 2">
    </mat-form-field>
      </div>
  </form>
<button mat-raised-button routerLink="/summary"
     routerLinkActive="active">Ok</button>
<button mat-raised-button [disabled]="!firstName || !lastName || !phone || !email" (click)="deleteData(user)">Clear</button>

