<div class="app-content"
     fxLayout="column"
     id="appcontainer">
  <header class="mat-elevation-z6"
          id="header">
    <mat-toolbar color="primary">
      <div fxFlex=""
           fxLayout="row"
           fxLayoutAlign="space-between">
        <button mat-icon-button="">
          <mat-icon aria-label="Burger menu">view_headline</mat-icon>
        </button>
        <span>My App</span>
        <mat-slide-toggle class="slide-toggle-position"></mat-slide-toggle>
      </div>
    </mat-toolbar>
  </header>
  <mat-sidenav-container fxFlex="">
    <mat-sidenav class="app-sidenav"
                 mode="push">
      <ul>
        <li>
          <h3>Test</h3>
        </li>
        <li>
          <h3>Test</h3>
        </li>
        <li>
          <h3>Test</h3>
        </li>
      </ul>
    </mat-sidenav>
    <!-- <div  style="background-color: yellow;"> -->
    <app-user class="app-content"
              fxFlex=""></app-user>
    <!-- </div> -->
  </mat-sidenav-container>
  <!--   <a routerLink="/helloWorld">Hello</a>
  <router-outlet></router-outlet> -->
  <footer>
    <mat-toolbar color="primary"></mat-toolbar>
  </footer>
</div>
