<header [class]="theme">
    <mat-toolbar color="primary">
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between">
            <button mat-icon-button (click)="sidenav.open()">
                  <mat-icon aria-label="Burger menu">view_headline</mat-icon>
            </button>
            <span>My App</span>
            <mat-slide-toggle [checked]="checked" class="slide-toggle-position" (change)="changeTheme()"></mat-slide-toggle>
        </div>
    </mat-toolbar>
</header>

<mat-sidenav-container fxFlex [class]="theme">
    <mat-sidenav #sidenav class="app-sidenav">
        <ul>
            <li>
                <h3>Test</h3>
            </li>
            <li>
                <h3>Test</h3>
            </li>
            <li>
                <h3>Test</h3>
            </li>
        </ul>
    </mat-sidenav>

    <div class="app-content">
        <app-user fxFlex></app-user>
    </div>
</mat-sidenav-container>
<footer [class]="theme">
    <mat-toolbar color="primary"></mat-toolbar>
</footer>