<div id="appcontainer" fxFlex fxLayout="column" [class]="theme">
  <header id="header" class="mat-elevation-z6">
    <mat-toolbar color="primary">
      <div fxLayout="row" fxFlex fxLayoutAlign="space-between">
        <button mat-icon-button (click)="sidenav.open(); condition = false" *ngIf="condition">
          <mat-icon aria-label="Burger menu">view_headline</mat-icon>
        </button>
        <button mat-icon-button (click)="sidenav.close(); condition = true" *ngIf="!condition">
            <mat-icon aria-label="Burger menu">arrow_back</mat-icon>
          </button>
        <span>My App</span>
        <mat-slide-toggle [checked]="checked" class="slide-toggle-position" (change)="changeTheme()"></mat-slide-toggle>
      </div>
    </mat-toolbar>
  </header>

  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="over" #sidenav class="app-sidenav">
      <ul>
        <li>
          <h3 routerLink="home">Home</h3>
        </li>
        <li>
          <h3 routerLink="helloWorld">Hello</h3>
        </li>
        <li>
          <h3>Test</h3>
        </li>
      </ul>
    </mat-sidenav>

    <!-- <div  style="background-color: yellow;"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
  </mat-sidenav-container>
  <footer>
    <mat-toolbar color="primary">
        <button mat-icon-button routerLink="/login" >
          <mat-icon aria-label="Exit">exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
  </footer>
</div>
